<div class="question-0-0">
  <div class="question-0-1 fixed-bg">
    <div class="question-0-2">
      <img src="/image_04.jpg" class="question-0-3">
      <div class="question-0-4">
        <p class="question-0-5">あなた味の</p>
        <p class="question-0-6">コーヒー</p>
      </div>
      <div class="question-0-7">
        <ul class="question-0-8">
          <li>
           <%= link_to("診断する", "/question_1") %>
          </li>
        </ul>
      </div>
    </div>
  </div>
 </div>
