
  <%= form_tag("/create_3/#{@user.id}") do %>

    <div class="question-3-1">
      <p>それでは性格診断を始めましょう！</p>
    </div>
    <div class="question-3-2">
      <p>５分ほど時間がかかると思います！</p>
    </div>
    <div class="question-3-3">
      <p>趣味は？と聞かれると？</p>
      <div class="question-3-4">
        <button type="submit" class="check-3" value="1" name="check">多趣味である</button>
        <button class="check-3" type="submit" value="2" name="check">趣味と言えるか分からないが何個か思い付く</button>
        <button class="check-3" type="submit" value="3" name="check">一つ熱心なものがある</button>
        <button class="check-3" type="submit" value="4" name="check">これといった趣味は思いつかない</button>
      </div>
  <% end %>
