
  <%= form_tag("/create_5/#{@user.id}") do %>
    <div class="question-5">
      <div class="question-5-1">
        <p>バイトや仕事の研修期間中でもミスをすると割とヘコむ方だ</p>
      </div>
      <div class="question-5-2">
        <div class="check">
          <input type="hidden" name="check" value="1">
          <input type="image" id="check2" src="/img_01.png"/>
        </div>
        <div class="check">
          <input type="hidden" name="check" value="0">
          <input type="image" id="check2" src="/img_02.png"/>
        </div>
        <div class="check">
          <input type="hidden" name="check" value="-10">
          <input type="image" id="check2" src="/img_03.png"/>
        </div>
      </div>
    </div>
  <% end %>
