
  <%= form_tag("/create_4/#{@user.id}") do %>
    <div class="question-4">
      <div class="question-4-1">
        <p>どのジャンルのゲームが好き？</p>
      </div>
      <div class="question-4-2">
        <button type="submit" value="1" name="check">アクション</button>
        <button type="submit" value="2" name="check">育成</button>
        <button type="submit" value="3" name="check">シミュレーション</button>
        <button type="submit" value="4" name="check">RPG</button>
      </div>
    </div>
  <% end %>
