
  <%= form_tag("/create_5/#{@user.id}") do %>
    <div class="question-5">
      <div class="question-5-1">
        <p>学校や職場などのワークスペースは</p>
      </div>
      <div class="question-5-2">
        <button type="submit" value="1" name="check">常にきちんと整理されている</button>
        <button type="submit" value="2" name="check">時々散らかってしまう自覚がある</button>
        <button type="submit" value="3" name="check">まとめて片付けることが多い</button>
        <button type="submit" value="4" name="check">いつもどこに何があるか分からなくなる</button>
      </div>
    </div>
  <% end %>
