// Place all the styles related to the analysis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//共通レイアウト======================================================================


body {
  color: #2d3133;
  background-color: rgba(255, 255, 224, 1);
  margin: 0;
  min-height: 1vh;
  font-family: 'arial black';
  font-weight: bold;
}

button, input, select, textarea {
  font-family : inherit;
  font-weight: normal;
  font-size   : 100%;
}

.main {
  position: absolute;
  top: 64px;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #f5f8fa;

}

.container {
  max-width: 1000px;
  margin: 0px auto;
  padding-left: 0px;
  padding-right: 0px;
  clear: both;
}

/* ヘッダー ================================ */
header {
  height: 64px;
//  position: absolute;
//  top:0%;
//  z-index: 1;
  position:fixed;
  top:0;
  z-index: 5;
  width: 100%;
}

.header-logo {
  float: left;
  padding-top: 10px;
  padding-left: 10px;
  color: white;
  font-size: 22px;
  line-height: 64px;
}

.header-logo a{
  color: white;
  font-size: 22px;
  text-decoration: none;

}

.header-menus {
  float: right;
  padding-right: 20px;
}

.header-menus li {
  float: left;
  line-height: 64px;
  font-size: 13px;
  color: white;
  padding-left: 15px;
  list-style: none;
}

.header-menus a {
  float: left;
  font-size: 13px;
  color: white;
}

.header-menus .fa {
  padding-right: 5px;
}

.header-menus input[type="submit"] {
  padding: 0 20px;
  float: left;
  line-height: 64px;
  color: white;
  margin: 0;
  font-size: 13px;
}

//question======================================================================
.question-0-0{
  width:100%;
  height:5000px;
}

.question-0-1{
  background-image: url(/image_06.png);
  background-size:100% auto;
  background-repeat: repeat;
  position: relative;
  width:100%;
  height:100%;
  overflow: hidden;
  padding-bottom:160%;
//  position:fixed;
//  top:0;
  z-index:-1;
  position: relative;

}

.question-0-2{
  width:100%;
//  display: block;
}
.question-0-3{
  background-size:cover;
  width:130%;
  //  position:fixed;
  //  top:0;
  display:block;
  text-align: center;
  position:absolute;
  top:3%;
  left: -10%;
  z-index: 3;
}
.question-0-4{
  width:100%;
  height:100%;
  z-index: 3;
  position: absolute;
  top:13%;
}

.question-0-5{
  height:50px;
  font-size: 90px;
  color: white;
  text-align: center;
}

.question-0-6{
  border-bottom:solid 15px;
  font-size: 90px;
//  height: 110px;
  color: white;
  text-align: center;
  margin: 0 20%;
  position: relative;
}

.fixed-bg {
  min-height:100vh;
  background-attachment:fixed;
  background-size: cover;
  background-position: center;
}

.bg02 {
  background-image: url(/image_06.png);
  height:667px;
}

.question-0-7{
  z-index: 3;
  position:absolute;
  top:19.5%;
  width: 100%;
}

.question-0-8{
  text-align: center;
  box-sizing: border-box;
  border-radius:10% / 50%;
}

.question-0-8 a{
  color:white;
  font-size: 90px;
}

//question======================================================================
//question1======================================================================
.hello-1{
  margin-top: 400px;
  display:none;
  text-align: center;
}
.hello-1 p{
  font-size: 100px;
}

.hello-2{
  margin-top: 400px;
  display:none;
  text-align: center;
}
.hello-2 p{
  font-size: 35px;
}
.hello-3{
  margin-top: 30px;
  width: 450px;
  height: 100px;
  border-radius: 10px;
  border-width: 5px;
  font-size: 40px;
}
.hello-4{
}

.question-1-1{
 width:80%;
 height:100%;
 background-color: rgba(255, 255, 224, 1);
 display: inline-block;
 margin-left: 10%;
}

//question1======================================================================
//question2======================================================================
.question-2-1,.question-2-2{
  margin-top: 150px;
  display:none;
  text-align: center;
}
.question-2-1 p, .question-2-2 p{
  font-size: 35px;
}
.question-2-3{
  margin-top: 30px;
  width: 450px;
  height: 100px;
  border-radius: 10px;
  border-width: 5px;
  font-size: 40px;
  font-weight: normal;
}



//question2======================================================================
//question3======================================================================
.question-3-1,.question-3-2, .question-3-3{
  margin-top: 150px;
  display:none;
  text-align: center;
}

.question-3-1 p, .question-3-2 p{
  font-size: 35px;
}
.question-3-3 p{
  font-size: 35px;
}

.check{
display: block;
}

#check1{
  display:inline-block;
  width: 20%;
  height:20%;
  text-align: center;
}
#check2{
  display:inline-block;
  width: 20%;
  height:20%;
  text-align: center;
}
#check3{
  display:inline-block;
  width: 20%;
  height:20%;
  text-align: center;
}

//question3======================================================================

//question4======================================================================
.question-4{
  display:none;
  text-align: center;
}
.question-4-1{
  margin-top: 150px;
}

.question-4-1 p{
  font-size: 35px;
}

.check{
display: block;
}

#check1{
  display:inline-block;
  width: 20%;
  height:20%;
  text-align: center;
}
#check2{
  display:inline-block;
  width: 20%;
  height:20%;
  text-align: center;
}
#check3{
  display:inline-block;
  width: 20%;
  height:20%;
  text-align: center;
}

//question4======================================================================
//question5======================================================================
.question-5{
  display:none;
  text-align: center;
}
.question-5-1{
  margin-top: 150px;
}

.question-5-1 p{
  font-size: 35px;
}

.check{
display: block;
}

#check1{
  display:inline-block;
  width: 20%;
  height:20%;
  text-align: center;
}
#check2{
  display:inline-block;
  width: 20%;
  height:20%;
  text-align: center;
}
#check3{
  display:inline-block;
  width: 20%;
  height:20%;
  text-align: center;
}


//question5======================================================================
//question6======================================================================





//question6======================================================================
//question7======================================================================





//question7======================================================================
//question8======================================================================





//question8======================================================================



//question======================================================================
