* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* top-wrapper##################### */

.top-wrapper {
  padding: 75px 0 100px 0;
  background-image: url(/img/bg.PNG), url(/img/bb.jpg);
  background-size: cover;
  color: white;
  text-align: center;

}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 100px;
  color: white;
}

.top-wrapper p {

    font-size: 20px;
    font-weight: bold;
    opacity: 0.9;

}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 8px 24px;
  margin-top: 20px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: #3b302d;
  position :fixed;
  top: 0;
  z-index: 10;
  opacity: .9;

}

.logo {
  width: 82px;
  margin-top: 0px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* menu-iconのCSSを貼り付けてください */
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  /* displayをnoneに指定してください */
  display:none;
}


/* lesson-wrapper ##################*/
/* lesson-wrapper ##################*/
/* lesson-wrapper ##################*/

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  /* background-color: #262626; */
  text-align: center;
  background-image: url(/img/bb.jpg);
  background-size: cover;
}

.result1{
  width: 400px;
  height: 400px;

}

/* 上流れるやつ */
.grain{

  background: url(./resource/img/cb_forRellax1.png) no-repeat center top;
  background-size: 700px;

  position: absolute;
  top: 400px;
  left: 0;
  margin-left: -655px;
  padding-top: 964px;
  width: 100%;
  z-index: 1;


}

.heading {
  padding-top: 100px;
  padding-bottom: 50px;
  color: white;
}

.heading h2 {
  font-weight: normal;
  opacity: 0.8;

}

.lesson {
  float: left;
  width: 25%;
}

/* .lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
} */

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

/* show-package */

.show-package{
  text-align: center;
  background-image: url(/img/bb.jpg);
  background-size: cover;
  padding-bottom: 80px;

}



.package_heading {
  padding-top: 100px;
  padding-bottom: 50px;
  color: white;
  font-weight: normal;
  opacity: 0.8;
}
/* message-wrapper */

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
  background-image: url(/img/flower.png);
  background-size: cover;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: black;
  opacity: 0.8;


}
